body {
  margin: 0;
  padding: 0;
}

#left{
	width: 300px;
	height: 1630px;
	float: left;
	background: #ddd;
	position: absolute;
	left: 0;
	top: 0;
}

#middle{
	height: 1630px;
	float: left;
	margin: 0 300px 0 300px;
  padding-left: 35px;
}

#right{
  width: 300px;
	height: 1630px;
	float: right;
	background: #ddd;
	position: absolute;
	right: 0;
	top: 0;
}

#title {
  height: 140px;
}

#content {
  height: 1400px;
}

#button {
  height: 50px;
}

.text {
  border-bottom: #aaa 1px solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#textarea {
  resize: none;
}
